body {
    margin-top: 20px;
    font-family: Roboto;
}
body::before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  z-index: -100;
}
#particles-js {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -99;
}
.container-fluid > .navbar-header {
  margin: 0 auto;
  float: none;
  width: 100%;
}
.navbar > .container-fluid .navbar-brand {
    display: block;
    text-align: center;
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    font-size: 8rem;
    color: white;
    text-shadow: 0 1px 0 #ccc,
                 0 2px 0 #c9c9c9,
                 0 3px 0 #bbb,
                 0 4px 0 #b9b9b9,
                 0 5px 0 #aaa,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);
}
.navbar .brand-name:hover {
    text-decoration: underline;
}
.panel {
  border-radius: 0;
  box-shadow: 0 5px 3px -3px #777;
}

#faucet-login-warning {
  background: #fff;
  padding: 15px;
}
/* buttons */
.btn {
  border-radius: 0;
  border: 0;
}
.btn:focus, .btn:active {
  border: 0;
  outline: none;
  box-shadow: none;
}
.btn-default.hvr-ripple-out::before {
  border: #fff solid 6px;
}
.btn-default.hvr-ripple-out:hover {
  background: #fff;
}
.btn-success.hvr-ripple-out::before {
  border: #5cb85c solid 6px;
}
.btn-success.hvr-ripple-out:hover {
  background: #5cb85c;
}
.btn-primary.hvr-ripple-out::before {
  border: #337ab7 solid 6px;
}
.btn-primary.hvr-ripple-out:hover {
  background: #337ab7;
}
.btn-info.hvr-ripple-out::before {
  border: #5bc0de solid 6px;
}
.btn-info.hvr-ripple-out:hover {
  background: #5bc0de;
}

/* links */
a {
  color: #333;
}
a:hover {
  color: #222;
}
.nav-tabs > li > a {
  background: #eee
}
.nav-tabs > li > a:hover {
  background: #fff;
}

/* inputs */
.form-control {
  outline: 0;
  border-radius: 0;
  border: 0;
  background: #efefef;
  box-shadow: none;
}
.form-control:focus {
  outline: 0;
  border-radius: 0;
  border: 0;
  box-shadow: none;
  border-bottom: 1px solid #333;
}
.input-group-addon {
  border-radius: 0;
  border: 0;
}

/* tables */
table.table {
  background: white;
}
#recaptcha-target {
  background: white;
}

/* ChatBox */

.chat-list {
    overflow-y: scroll;
    height: 215px;
    word-wrap: break-word;
}

.chat-list li {
    /* Since .focus() is used to scroll to last message item,
       turn off the outline that appears by default */
    outline: none;
}

/* typeography */
.text-muted {
  color: #333;
}

/* Animation */

.rotate {
    display: inline-block;
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotate;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -o-animation-name: rotate;
    -o-animation-duration: 2s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}

@-o-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

/* Bootstrap overrides */

/* Turn off redundant text-shadow */
.btn kbd,
.btn .label {
    text-shadow: none;
}
